<!doctype html>
<html lang="{{ global.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ~ ' – ' ~ global.title if title else global.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {% include 'snippets/meta.njk' %}
  </head>
  <body>

    <header class="site-header">
      <h1 class="site-name">
        <a href="{{ '/' | url }}">{{ global.title }}</a>
      </h1>
      <nav class="site-nav">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </nav>
    </header>

    <main class="site-main">
      {{ content | safe }}
    </main>

    {% if global.footer %}
      <footer class="site-footer">
        <p>{{ global.footer | markdownifyInline | safe }}</p>
      </footer>
    {% endif %}

  </body>
</html>
